.borderRoom{
	margin :0px 3% 20px 0px; border: 2px solid; ;border-radius: 5px;
  /*width:10%;*/
  height:50%;
}

.btn-responsive {
    white-space: normal !important;
    word-wrap: break-word;
    display:table;
    margin: 0 auto;
}

.ic {
  display: inline-block;
  border-radius: 60px;
  box-shadow: 0px 0px 2px #888;
}
.hna{
     margin: 0px;
    /*padding: 40px;*/
}