<html>
    <head>
 <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <style type="text/css">
            dummydeclaration { padding-left: : : 4em; } /* Firefox ignores first declaration for some reason */
            tab1 { padding-left: 10em; }
a.ex3:hover, a.ex3:active {background: red;}
           .btn {
border-radius: 0px; 
color: white;
display: inline-block;
}

.btn:hover { color: yellow; }
#create_btn {
background-color: pink; 
width: 120px;
height: 42px;
}

	   a:visited {
    color: pink;
}
  </style>
<a href="https://www.w3schools.com">W3Sschools Home</a><br>

	<button> <p><a class="ex3" href="default.asp">This link changes background-color</a></p></button>
	   <button id="create_btn" class="btn" type="button" title="List Available Games">List Games</button>

